#define DLG_MAIN 1000
#define BTN_INNET 1001
#define BTN_RESET 1002
#define TXT_INNSET_RESULT 1009
#define BTN_DOOR_STATUS 1003
#define BTN_ALERT_INFO 1004

#include <windows.h>

DLG_MAIN DIALOGEX 829779,-524619,204,42
CAPTION "KDLOCK-TEST"
FONT 8,"MS Sans Serif",0,0,0
STYLE WS_VISIBLE|WS_CAPTION|WS_SYSMENU|WS_MINIMIZEBOX
BEGIN
  CONTROL "入网",BTN_INNET,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,3,3,54,15
  CONTROL "复位",BTN_RESET,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,63,3,54,15
  CONTROL "入网结果",TXT_INNSET_RESULT,"Static",WS_CHILDWINDOW|WS_VISIBLE,138,3,66,12
  CONTROL "门状态信息",BTN_DOOR_STATUS,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,3,24,54,15
  CONTROL "告警信息",BTN_ALERT_INFO,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,63,24,54,15
END

